/* nav */

.nav {
    position: fixed;
    background-color: var(--background-04);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    display: inline-block;
    padding: .5em 2.5em;
    color: var(--background-01);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--fs-h3);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--ff-secudary);
    font-weight: var(--fw-bold);
    transition: transform 250ms ease-in-out;
}

.nav__link:hover {
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 1rem;
    transform: scale(1.2);
}

.nav-toggle {
    margin-top: 2rem;
    padding: .25em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    right: 2em;
    top: 1em;
}

.nav-open .nav{
    transform: translateX(0%);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    background-color: var(--background-01);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background-color: var(--background-01);
}
.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--background-04);
    width: 2em;
    height: 3px;
    border-radius:1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px;}
.hamburger::after { bottom: 6px;}


/*circle animation  */

@media (min-width: 800px) {
    .graphic{
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
        border-radius: 1em;
        top: -14%;
    }

    .circles {
        width: 400px;
        height: 500px;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blend {
        height: 50px;
        width: 50px;
        position: absolute;
        background-size: cover;
        border: solid 1px var(--background-04);
        border-radius: 50%;
    }

    .out-circle {
        border-radius: 0%;
        position: absolute;
        height: 300px;
        width: 300px;
        animation: turn1 25s linear infinite;
    }

    .in-circle {
        position: absolute;
        height: 150px;
        width: 150px;
        animation: turn2 25s linear infinite;
    }
    .nav-toggle {
        right: 5em;
    }

}

@media (max-width: 800px) {
    .graphic {
        display: none;
    }
}

.react {
    background-image: url("../Img/react.png");
    
}
.davinci {
    top: 0%;
    background-image: url("../Img/DaVinci\ Resolve.png");
}


.figma {
    top: 0%;
    left: 80%;
    background-image: url("../Img/figma.png");
}

.js {
    top: 0;
    left: 70%;
    background-image: url("../Img/js.png");
}

.html {
    top: 70%;
    left: 70%;
    background-image: url("../Img/html.png");
}

.filmora {
    top: 80%;
    left: 80%;
    background-image: url("../Img/filmora.png");
}

.css {
    top: 70%;
    background-image: url("../Img/css-logo.png");
}

.ligthroom {
    top: 80%;
    left: 0%;
    background-image: url("../Img/Ligthroom.png");
    
}


.html,
.css,
.react,
.js {
    animation: turn1 25s linear infinite;
}

.filmora,
.davinci,
.figma,
.ligthroom {
    animation: turn2 25s linear infinite;
}

@keyframes turn1 {
    to {
        transform: rotate(1turn);
    }
}

@keyframes turn2 {
    to {
        transform: rotate(-1turn);
    }
}

/* services amination */

.skills {
    text-align: left;
    width: 100%;
    padding: 0 40px ;
    background-color: transparent;
    border-radius: 1rem;
    margin-bottom: 4rem;

}

.section__title--skils {
    text-align: center;
    color: var(--background-04);
    margin: 0 0 10%;
}

.progress {
    width: 100%;
    height: 2px;
    margin: 18px 0px;
}

.progress__bar {
    background-color: violet;
    width: 0%;
    height: 100%;
    position: relative;
    transition: all 1.5s;
    animation: animateColor 5s linear infinite;
}

.progress__number {
    color: var(--background-06);
    position: absolute;
    top: 5px;
    right: 0;
}

@media (min-width: 800px) {
    .skills {
        width: 50%;
        margin: 70px 45% 0;
        top: 100%;
        position: absolute;
    }



    .section__title--skils::after {
        content: '';
        display: block;
        width: 3em;
        height: 1px;
        margin: 0.5em auto 1em;
        background-color: var(--background-04);
    }
/* trabajar esta parte y mejorarla */

}

@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

/* pre loader */

#loader {
    position: fixed;
    background-color: var(--background-04);
    background-image: url(https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.close {
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(.5, 0, .5, 1);
}

/* loading */