*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Serif Pro', serif;
    --ff-secundary: 'Source Code Pro', monospace;
    --ff-special: 'Orbitron', cursive;

    --fw-ligth: 100;
    --fw-reg: 300;
    --fw-bold: 900;

    /* bacground colors */

    /* normal */

    /* --background-01: #000000; */
    /* --background-02: #4A087D; */
    /* --background-03: #8606EA; */
    --background-04: #7DF1F0;
    /* --background-05: #ffffff; */
    --background-01: #141E26;
    --background-02: #213140;
    --background-03: #C5D3D9;
    /* --background-04: #27735D; */
    --background-05: #F2A172;
    --background-06: #ffffff;
    --background-07: #000000;
    --background-08:  radial-gradient(79.43% 251.58% at 23.18% 73.07%,#0142a0 0,#0f133a 44.41%,#101034 56.43%,#141034 69.58%,#301436 100%,#411958 0);

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root { 
        --fs-h1: 2.5rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

strong {
    font-weight: var(--fw-ligth);
    font-family: var(--ff-special);
    color: var(--background-04);
}

section  {
    padding: 5em 2em;
}

img {
    max-width: 100%;
    display: block;
}

body,
html{
    margin: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(79.43% 251.58% at 23.18% 73.07%,#000000 0,#060606 44.41%,#232323 56.43%,#323232 69.58%,#616161 100%,#616161 0);
}

/* bottons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background-color: var(--background-02);
    color: var(--background-04);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 250ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* cambio de color */

/* intro */

.intro {
    position: relative;
    width: auto;
    grid-template-columns: min-content;
}

.overlay,
.text,
.intro__img-01 {
    display: none;
}

.section__title{
    margin-bottom: .25em;
    padding-top: 5rem;
    color: var(--background-03);
    font-weight: var(--fw-reg);
    font-size: 5rem;
}

.section__title--intro strong {
    display: block;
}

.section__title--intro p {
    font-size: var(--fs-h2);
    color: var(--background-04);
}

.section__subtitle {
    font-family: var(--ff-secundary);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--work {
    color: var(--clr-accent);
    font-family: var(--ff-secundary);
    font-weight: var(--fw-bold);
    padding: .25em 1em;
    margin-bottom: 1em;
}

.social-list__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin: .5em;
    color: var(--background-04);
    text-decoration: none;
}

.social-list__link:hover {
    opacity: .7;
}

.social-list {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
}

@media (min-width: 800px) {
    .intro {
        display: grid; 
        width: 100%;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img tilte"
            "img subtitle";
        grid-template-columns: min-content;
        background-image: url("../Img/profile-04.png");
        background-size: cover;
        background-blend-mode: color;
        background-repeat: no-repeat;
        background-position: 10% ;
    }

    .section__title--intro {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items:center;
        /* background-color: red; */
        right: 50%;
        top: 50%;
    }

    .section__subtitle--intro {
        align-self: center;
        background-color: transparent;
        border: none;
        position: absolute;
        left: 22%;
        /* background-color: red; */
    }

    .intro__img {
        display: none;
    }
}

/* services */

.my--services {
    /* background-image: url(https://images.pexels.com/photos/355943/pexels-photo-355943.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    background-image: url('/Img/background.jpg');
    background-size: cover;
    background-color: #03a67856;
    background-blend-mode: multiply;
    text-align: center;
    color: var(--background-03);
}

.section__title--services {
    color: var(--background-04);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--background-04);
}

.service {
    max-width: 500px;
    margin: 0 auto;
    color: var(--background-06);
    border: solid red;
    margin-top: 2rem;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* about section */

/* .about--me {
    max-width: 1000px;
    margin: 0 auto;
}

.about--me__body{
    color: var(--background-06);
}

@media (min-width: 800px) {
    .about--me { 
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            'title img'
            'subtitle img'
            'text img';
        grid-column-gap: 2em;
    }

    .section__subtitle--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 2rem);
        padding-left: 1em;
        padding-right: calc(200px + 2em);
    }

    .about--me__img {
        grid-area: img;
        position: relative;
        right: 8em;
        top: 10em;
        min-width: 400px;
        height: 200px;
        z-index: 20;
    }
} */

/* work */
.my--work {
    background-image: url(https://images.pexels.com/photos/2749481/pexels-photo-2749481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-color: #73170228;
    background-blend-mode: multiply;
    text-align: center;
}

.section__title--work {
    color: var(--background-04);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background-color: var(--background-03);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.2);
    opacity: .75;
}
/* contat me */

.contact--me__budy {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.section__title--contact {
    text-align: center;
    font-size: 3em;
}

.section__title--contact span {
    color: var(--background-04);
}

.contact--me__budy > * {
    padding: 1em;
}

.contact--form {
    background: var(--background-02);
}

.contact--form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact--form form label {
    display: block;
    color: var(--background-06);
}

.contact--form form p {
    margin: 0;
    padding: 1em;
}

.contact--form form .block {
    grid-column: 1 / 3;
}

.contact--form form button,
.contact--form form input,
.contact--form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: var(--background-06);
    border-bottom: 1px solid var(--background-04);
}


/* CONTACT INFO */
.contact--info {
    background: var(--background-04);
}

.contact--form h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    .contact--me__budy {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact--me__budy > * {
        padding: 2em;
    }
    .contact--info h4,
    .contact--form ul,
    .contact--info p {
        text-align: left;
    }
}


.map{
    overflow:hidden;
    padding-bottom:90.25%;
    position:relative;
    height:0;
}

.footer {
    width: 100%;
    height: 100px;
    background: var(--background-04);
    text-align: center;
    padding: 4rem;
    list-style: none;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}
